# ATMS 523
## Module 4 Notebook 1
## Wrangling time series

### Combining datasets with pandas

Here we will load a variety of climate datasets, and use pandas to unify the datasets for further analysis.

In [1]:
import pandas as pd

enso = pd.read_csv('https://www.esrl.noaa.gov/psd/data/correlation/censo.data',delim_whitespace=True,header=None,skiprows=1,skipfooter=2, engine='python')
pdo = pd.read_csv('https://www.esrl.noaa.gov/psd/data/correlation/pdo.data',delim_whitespace=True,header=None,skiprows=1,skipfooter=14, engine='python')
nao = pd.read_csv('https://www.esrl.noaa.gov/psd/data/correlation/nao.data',delim_whitespace=True,header=None,skiprows=1,skipfooter=3, engine='python')
ao = pd.read_csv('https://www.esrl.noaa.gov/psd/data/correlation/ao.data',delim_whitespace=True,header=None,skiprows=1,skipfooter=3, engine='python')

/var/folders/_c/r1mtqtcs51q5tzpn52hv2f4c0000gn/T/ipykernel_68311/1764835073.py:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  enso = pd.read_csv('https://www.esrl.noaa.gov/psd/data/correlation/censo.data',delim_whitespace=True,header=None,skiprows=1,skipfooter=2, engine='python')
/var/folders/_c/r1mtqtcs51q5tzpn52hv2f4c0000gn/T/ipykernel_68311/1764835073.py:4: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  pdo = pd.read_csv('https://www.esrl.noaa.gov/psd/data/correlation/pdo.data',delim_whitespace=True,header=None,skiprows=1,skipfooter=14, engine='python')
/var/folders/_c/r1mtqtcs51q5tzpn52hv2f4c0000gn/T/ipykernel_68311/1764835073.py:5: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  nao = pd.read_csv('https://www.esrl.noaa.gov/psd/data/correlation/nao.data',delim_whitespace=True,header=None,skiprows=1,skipfooter=3, engine='python')
/var/folders/_c/r1mtqtcs51q5tzpn52hv2f4c0000gn/T/ipykernel_68311/1764835073.py:6: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  ao = pd.read_csv('https://www.esrl.noaa.gov/psd/data/correlation/ao.data',delim_whitespace=True,header=None,skiprows=1,skipfooter=3, engine='python')

Take a look at the dataframes, note how they are formatted and if there are any issues with the values (missing data, etc.).

In [2]:
enso

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1948,0.26,0.43,0.72,0.21,0.24,0.41,0.08,0.26,0.45,-0.64,-0.21,0.58
1,1949,0.18,0.13,-0.55,0.15,0.43,0.00,-0.06,0.08,-0.42,-0.59,-0.29,-0.91
2,1950,-0.74,-1.70,-1.43,-1.29,-1.22,-1.69,-1.69,-0.96,-0.95,-1.27,-1.12,-1.61
3,1951,-1.13,-0.69,-0.24,0.33,0.71,0.19,1.32,1.01,1.10,1.15,0.92,0.83
4,1952,0.64,0.56,0.07,0.71,-0.50,-0.74,-0.54,-0.12,-0.03,-0.06,-0.02,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2019,0.43,1.58,0.90,0.65,1.19,0.90,0.86,0.26,1.00,0.64,1.07,0.71
72,2020,0.18,0.25,0.42,0.35,-0.40,0.07,-0.26,-1.19,-1.03,-1.03,-1.08,-1.83
73,2021,-1.86,-1.84,-0.63,-0.59,-0.52,-0.15,-1.05,-0.62,-0.69,-1.00,-1.14,-1.61
74,2022,-0.75,-1.37,-1.79,-1.76,-1.98,-1.41,-0.95,-1.45,-1.79,-1.78,-0.63,-1.97
75,2023,-1.34,-1.49,-0.15,0.12,1.44,0.78,1.26,-9.99,-9.99,-9.99,-9.99,-9.99

Now that we have read in the data, it's time to get them into a format that we can use with pandas.  Time series should be a single column, with a date column with a value of each index in each row.

We'll approach this by creating a new data frame and reformatting the 12 x nyears array to a 1 x nobservations array corresponding with each date.

Let's start with ENSO.

In [3]:
enso_new=pd.DataFrame()

In [4]:
enso_new

Empty DataFrame
Columns: []
Index: []

Let's create an ENSO 'Date' column that has a Datetime Index.  The pandas DatetimeIndex can be used to generate dates with a given frequency.

In [12]:
enso_new['Date']=pd.date_range(start=pd.to_datetime('1948-01-01'),end=pd.to_datetime('2022-12-31'),freq="MS")

enso_new = enso_new.set_index('Date')

In [9]:
enso_new

Empty DataFrame
Columns: []
Index: [1948-01-01 00:00:00, 1948-02-01 00:00:00, 1948-03-01 00:00:00, 1948-04-01 00:00:00, 1948-05-01 00:00:00, 1948-06-01 00:00:00, 1948-07-01 00:00:00, 1948-08-01 00:00:00, 1948-09-01 00:00:00, 1948-10-01 00:00:00, 1948-11-01 00:00:00, 1948-12-01 00:00:00, 1949-01-01 00:00:00, 1949-02-01 00:00:00, 1949-03-01 00:00:00, 1949-04-01 00:00:00, 1949-05-01 00:00:00, 1949-06-01 00:00:00, 1949-07-01 00:00:00, 1949-08-01 00:00:00, 1949-09-01 00:00:00, 1949-10-01 00:00:00, 1949-11-01 00:00:00, 1949-12-01 00:00:00, 1950-01-01 00:00:00, 1950-02-01 00:00:00, 1950-03-01 00:00:00, 1950-04-01 00:00:00, 1950-05-01 00:00:00, 1950-06-01 00:00:00, 1950-07-01 00:00:00, 1950-08-01 00:00:00, 1950-09-01 00:00:00, 1950-10-01 00:00:00, 1950-11-01 00:00:00, 1950-12-01 00:00:00, 1951-01-01 00:00:00, 1951-02-01 00:00:00, 1951-03-01 00:00:00, 1951-04-01 00:00:00, 1951-05-01 00:00:00, 1951-06-01 00:00:00, 1951-07-01 00:00:00, 1951-08-01 00:00:00, 1951-09-01 00:00:00, 1951-10-01 00:00:00, 1951-11-01 00:00:00, 1951-12-01 00:00:00, 1952-01-01 00:00:00, 1952-02-01 00:00:00, 1952-03-01 00:00:00, 1952-04-01 00:00:00, 1952-05-01 00:00:00, 1952-06-01 00:00:00, 1952-07-01 00:00:00, 1952-08-01 00:00:00, 1952-09-01 00:00:00, 1952-10-01 00:00:00, 1952-11-01 00:00:00, 1952-12-01 00:00:00, 1953-01-01 00:00:00, 1953-02-01 00:00:00, 1953-03-01 00:00:00, 1953-04-01 00:00:00, 1953-05-01 00:00:00, 1953-06-01 00:00:00, 1953-07-01 00:00:00, 1953-08-01 00:00:00, 1953-09-01 00:00:00, 1953-10-01 00:00:00, 1953-11-01 00:00:00, 1953-12-01 00:00:00, 1954-01-01 00:00:00, 1954-02-01 00:00:00, 1954-03-01 00:00:00, 1954-04-01 00:00:00, 1954-05-01 00:00:00, 1954-06-01 00:00:00, 1954-07-01 00:00:00, 1954-08-01 00:00:00, 1954-09-01 00:00:00, 1954-10-01 00:00:00, 1954-11-01 00:00:00, 1954-12-01 00:00:00, 1955-01-01 00:00:00, 1955-02-01 00:00:00, 1955-03-01 00:00:00, 1955-04-01 00:00:00, 1955-05-01 00:00:00, 1955-06-01 00:00:00, 1955-07-01 00:00:00, 1955-08-01 00:00:00, 1955-09-01 00:00:00, 1955-10-01 00:00:00, 1955-11-01 00:00:00, 1955-12-01 00:00:00, 1956-01-01 00:00:00, 1956-02-01 00:00:00, 1956-03-01 00:00:00, 1956-04-01 00:00:00, ...]

[900 rows x 0 columns]

Now, let's stuff the data into our array.  We can use the stack() command to take the 2D array and create a 1D column.

In [10]:
len(enso.loc[:,1:].stack().values)

912

In [11]:
enso_new['ENSO']=enso.loc[:,1:].stack().values

ValueError: Length of values (912) does not match length of index (900)

How does it look?

In [ ]:
enso_new

In [ ]:
enso_new.plot()

## In-class exercise, do this for all of the 4 climate indicies.

Be sure to check the date ranges of your indicies by carefully inspecting the dataframes!

In [13]:
nao_new=pd.DataFrame()
pdo_new=pd.DataFrame()
ao_new=pd.DataFrame()

nao_new['Date'] = pd.date_range(start=pd.datetime(1948,1,1),end=pd.datetime(2022,12,1),freq="MS")
pdo_new['Date'] = pd.date_range(start=pd.datetime(1948,1,1),end=pd.datetime(2022,12,1),freq="MS")
ao_new['Date'] = pd.date_range(start=pd.datetime(1950,1,1),end=pd.datetime(2022,12,1),freq="MS")

nao_new = nao_new.set_index('Date')
pdo_new = pdo_new.set_index('Date')
ao_new = ao_new.set_index('Date')

nao_new['NAO']=nao.loc[:,1:].stack().values
pdo_new['PDO']=pdo.loc[:,1:].stack().values
ao_new['AO']=ao.loc[:,1:].stack().values

AttributeError: module 'pandas' has no attribute 'datetime'

In [ ]:
pdo_new

In [ ]:
%pylab inline
nao_new['NAO'].plot()
plt.ylim([-3,3])
plt.xlim(['11-01-2018','01-01-2020'])

# Merging dataframes

Now that we have these indicies, we can join them together into one dataset.  We can use the pd.merge() command to do this for each of our dataframes one by one.  We need to tell pandas how to do the merge, and we do that by specifying the left_index and right_index, where left and right are the data frames given first and second in the pd.merge command.

In [ ]:
newdf_all = pd.merge(enso_new,pdo_new, left_index=True, right_index=True)

In [ ]:
newdf_all

In [ ]:
import numpy as np
newdf_all['PDO'][newdf_all['PDO'] <= -9.9] = np.nan
newdf_all.plot()

Rinse and repeat until all 4 columns are included in your new dataframe.

In [ ]:
newdf_all['ENSO'][newdf_all['ENSO'] <= -9.9] = np.nan
newdf_all.plot()

In [ ]:
newdf_all = pd.merge(newdf_all,nao_new, left_index=True, right_index=True)
newdf_all['NAO'][newdf_all['NAO'] <= -99.9] = np.nan

In [ ]:
newdf_all = pd.merge(newdf_all,ao_new, left_index=True, right_index=True)
newdf_all['AO'][newdf_all['AO'] <= -99.9] = np.nan

newdf_all.plot()

In [ ]:
newdf_all

Let's plot them against each other

In [ ]:

plt.plot(newdf_all['ENSO'].values,newdf_all['PDO'].values,'.r')

Or do it all together in one swoop.

In [ ]:
# Seaborn visualization library
import seaborn as sns
# Create the default pairplot
sns.pairplot(newdf_all)

Now let's bring in another dataset, the NASA GISS observed temperature record.  How does it match up with the climate indicies above?

In [ ]:
!wget https://data.giss.nasa.gov/pub/gistemp/gistemp250_GHCNv4.nc.gz

In [ ]:
%matplotlib inline
import xarray as xr
import pandas as pd
import cartopy.crs as ccrs

In [ ]:
data = xr.open_dataset('gistemp250_GHCNv4.nc.gz')
data

In [ ]:
ax = plt.axes(projection=ccrs.Orthographic(-80, 35))
data['tempanomaly'].polyfit(dim='time',deg=1).isel(degree=1)['polyfit_coefficients'].plot(ax=ax, transform=ccrs.PlateCarree(), vmin=-0.5, vmax=0.5, cmap='RdBu_r')
ax.set_global(); ax.coastlines(); ax.set_title('GISTEMPv4 temperature trend (deg/year)')

Here we will introduce the sel command to find time and space subsets of our dataset.  Let's pull out the observed temperature trends at the point closest to Champaign-Urbana and examine the relationships with climate indicies.

In [ ]:
temp = pd.DataFrame()

temp.index = data.time-pd.Timedelta(14, unit="D")
temp['obsT']=data['tempanomaly'].sel(lat=40.,lon=-88., method='nearest')

newdf_all = pd.merge(newdf_all,temp,left_index=True, right_index=True)

In [ ]:
temp

In [ ]:
newdf_all

Let's plot!

In [ ]:
%pylab inline
import matplotlib as mpl

cmap = cm.get_cmap('PiYG', 12)    # 11 discrete colors
norm = mpl.colors.Normalize(vmin=1, vmax=13)

fig, ((ax1, ax2), (ax3, ax4)) = plt.subplots(nrows=2, ncols=2, figsize=(11,11))

ax1.scatter(newdf_all['ENSO'].values,newdf_all['obsT'].values,c=newdf_all.index.month,cmap=cmap,norm=norm)
ax1.set_title('ENSO')
ax1.set_xlabel('ENSO index')
ax1.set_ylabel('Monthly GISTEMP anomaly')
ax1.set_ylim([-10,10])
ax1.set_xlim([-5,5])

ax2.scatter(newdf_all['NAO'].values,newdf_all['obsT'].values,c=newdf_all.index.month,cmap=cmap,norm=norm)
ax2.set_title('NAO')
ax2.set_xlabel('NAO index')
ax2.set_ylabel('Monthly GISTEMP anomaly')
ax2.set_ylim([-10,10])
ax2.set_xlim([-5,5])

ax3.scatter(newdf_all['AO'].values,newdf_all['obsT'].values,c=newdf_all.index.month,cmap=cmap,norm=norm)
ax3.set_title('AO')
ax3.set_xlabel('AO index')
ax3.set_ylabel('Monthly GISTEMP anomaly')
ax3.set_ylim([-10,10])
ax3.set_xlim([-5,5])


im=ax4.scatter(newdf_all['PDO'].values,newdf_all['obsT'].values,c=newdf_all.index.month,cmap=cmap,norm=norm)
ax4.set_title('PDO')
ax4.set_xlabel('PDO index')
ax4.set_ylabel('Monthly GISTEMP anomaly')
ax4.set_ylim([-10,10])
ax4.set_xlim([-5,5])

#fig.subplots_adjust(right=0.8)
cbar_ax = fig.add_axes([1.05, 0.15, 0.02, 0.7])
cbar=fig.colorbar(im, cax=cbar_ax, ticks=1+np.arange(13), norm=norm)
cbar.ax.set_yticklabels(['J','F','M','A','M','J','J','A','S','O','N','D',' '])  # vertically oriented colorbar

plt.tight_layout()